.container-fluid(style='padding:0px;' sticky offset="40")
  div.col-md-12.well(style="min-height:100px;")  
    .form-group.col-md-2
      h1(ng-if='!loading') Events
      h1.loader(ng-if='loading') Loading...
    
    .form-group.col-md-2
      label Location
      input.form-control(ng-model='filters.location', type='text', googleplace-autocomplete, googleplace-autocomplete-place='filters.autocomplete')
    
    //- .form-group.col-md-2
    //-   label Type
    //-   br
    //-   select.form-control(ng-model='filters.type', 
    //-     ng-options="type.name for type in eventTypes track by type.id")
    //-       option(value="") - Select Option -
    
    .form-group.col-md-2
      label Between
      p.input-group
        input.form-control(type='text', 
          uib-datepicker-popup='{{format}}', 
          ng-model='filters.startDate', 
          is-open='popup1.opened', 
          datepicker-options='dateOptions', ng-required='true', close-text='Close', alt-input-formats='altInputFormats')
        span.input-group-btn
          button.btn.btn-default(type='button', ng-click='open1()')
            i.glyphicon.glyphicon-calendar

    .form-group.col-md-2
      label And
      p.input-group
        input.form-control(type='text', 
          uib-datepicker-popup='{{format}}', 
          ng-model='filters.endDate', 
          is-open='popup2.opened', 
          datepicker-options='dateOptions', ng-required='true', close-text='Close', alt-input-formats='altInputFormats')
        span.input-group-btn
          button.btn.btn-default(type='button', ng-click='open2()')
            i.glyphicon.glyphicon-calendar
    
    .form-group.col-md-2
      button.btn.btn-primary.btn-raised(ng-click='filter()') Filter

.container
  div.row(infinite-scroll="scroll()", infinite-scroll-distance="1", ng-repeat="(key, events) in groupedEvents")
    h2.col-md-12 {{key}}
    div.col-md-4.grid-item(ng-repeat="event in events", style="height:200px; overflow:hidden; border-radius: 5px;")
      a(href='/events/{{event._id}}')
        .grid-content.gradient
          .col-md-4
            .image-circle(ng-if='!event.facebook.cover', style='background-image:url(../images/kibbl-logo-dog.png)')
            .image-circle(ng-if='event.facebook.cover', style='background-image:url({{event.facebook.cover}})')
          .col-md-8
          h3 {{event.name}}
          h5 {{event.start_time | date : "medium" }}
