doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    base(href="/")
    
    link(href="https://fonts.googleapis.com/css?family=Poppins:400,500" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(type="text/css" rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css")
    link(type="text/css" rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.min.css")

  body.kibbl(ng-app="Kibbl")
    
    include ./nav
        
    block content
    
    hr.featurette-divider

    footer.footer.container
      p.pull-right
        a(href='#') Back to top
      p
        | © 2016 Company, Inc. · 
        a(href='#') Privacy
        |  · 
        a(href='#') Terms

  
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="bower_components/bootstrap-material-design/dist/js/material.min.js")
    script(src="bower_components/angular/angular.min.js")
    script(src="bower_components/angular-route/angular-route.min.js")
    
    
    script(src="javascripts/app.js")
    script(src="javascripts/controllers/HomeCtrl.js")
    script(src="javascripts/controllers/NavCtrl.js")
    script(src="javascripts/controllers/favoriteListCtrl.js")
    script(src="javascripts/pets/Pets.js")
    script(src="javascripts/pets/PetCtrl.js")
    script(src="javascripts/pets/petDetailCtrl.js")
    script(src="javascripts/volunteer/Volunteer.js")
    script(src="javascripts/volunteer/VolunteerCtrl.js")
    script(src="javascripts/volunteer/VolunteerDetailCtrl.js")
    script(src="javascripts/volunteer/VolunteerService.js")
    script(src="javascripts/events/Event.js")
    script(src="javascripts/events/EventListCtrl.js")
    script(src="javascripts/events/EventDetailCtrl.js")
    script(src="javascripts/events/EventService.js")
    script(src="javascripts/shelters/Shelters.js")
    script(src="javascripts/shelters/ShelterListCtrl.js")
    script(src="javascripts/shelters/ShelterDetailCtrl.js")
    script(src="javascripts/shelters/ShelterService.js")
    script(src="javascripts/messages/Message.js")
    script(src="javascripts/messages/MessageListCtrl.js")
    script(src="javascripts/messages/MessageDetailCtrl.js")
    script(src="javascripts/messages/MessageService.js")
    script(src="javascripts/notifications/Notification.js")
    script(src="javascripts/notifications/NotificationListCtrl.js")
    script(src="javascripts/notifications/NotificationService.js")

    script(type="text/javascript").
      (function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script");r.type="text/javascript";
      r.async=true;r.src="https://d24n15hnbwhuhn.cloudfront.net/libs/amplitude-3.0.1-min.gz.js";
      r.onload=function(){e.amplitude.runQueuedFunctions()};var i=t.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(r,i);function s(e,t){e.prototype[t]=function(){this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
      return this}}var o=function(){this._q=[];return this};var a=["add","append","clearAll","prepend","set","setOnce","unset"];
      for(var u=0;u<a.length;u++){s(o,a[u])}n.Identify=o;var c=function(){this._q=[];return this;
      };var p=["setProductId","setQuantity","setPrice","setRevenueType","setEventProperties"];
      for(var l=0;l<p.length;l++){s(c,p[l])}n.Revenue=c;var d=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","setGlobalUserProperties","identify","clearUserProperties","setGroup","logRevenueV2","regenerateDeviceId"];
      function v(e){function t(t){e[t]=function(){e._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
      }}for(var n=0;n<d.length;n++){t(d[n])}}v(n);n.getInstance=function(e){e=(!e||e.length===0?"$default_instance":e).toLowerCase();
      if(!n._iq.hasOwnProperty(e)){n._iq[e]={_q:[]};v(n._iq[e])}return n._iq[e]};e.amplitude=n;
      })(window,document);

      amplitude.getInstance().init("3bd14a32307d574775f1289bd19a262c");
