.container-fluid(style='padding:0px;')
  div.col-md-12.well(style="min-height:100px;")  
    .form-group.col-md-2
      h1 Volunteer
    
    .form-group.col-md-2
      label Location
      input.form-control(ng-model='filters.location', type='text', googleplace-autocomplete, googleplace-autocomplete-place='filters.autocomplete')
    
    .form-group.col-md-2
      label Type
      br
      select.form-control(ng-model='filters.type', 
        ng-options="type.name for type in eventTypes track by type.id")
          option(value="") - Select Option -
    
    .form-group.col-md-2
      label Between
      p.input-group
        input.form-control(type='text', 
          uib-datepicker-popup='{{format}}', 
          ng-model='filters.startDate', 
          is-open='popup1.opened', 
          datepicker-options='dateOptions', ng-required='true', close-text='Close', alt-input-formats='altInputFormats')
        span.input-group-btn
          button.btn.btn-default(type='button', ng-click='open1()')
            i.glyphicon.glyphicon-calendar

    .form-group.col-md-2
      label And
      p.input-group
        input.form-control(type='text', 
          uib-datepicker-popup='{{format}}', 
          ng-model='filters.endDate', 
          is-open='popup2.opened', 
          datepicker-options='dateOptions', ng-required='true', close-text='Close', alt-input-formats='altInputFormats')
        span.input-group-btn
          button.btn.btn-default(type='button', ng-click='open2()')
            i.glyphicon.glyphicon-calendar
    
    .form-group.col-md-2
      button.btn.btn-primary.btn-raised(ng-click='getEvents()') Filter

.container
  div.row(infinite-scroll="scroll()", infinite-scroll-distance="1")
    div.col-md-4.pet-grid-item(ng-repeat="opportunity in opportunites", style='400px;')
      .card
        .card-height-indicator
        .card-content
          .card-image
            a(href='/volunteer/{{opportunity._id}}', style='display:block')
              img(src='//www.petfinder.com/wp-content/uploads/2016/08/right-desktop@2x.jpg', alt='Loading image...')
            h3.card-image-headline {{opportunity.name}}
          .card-body
            p {{opportunity.description | limitTo: 140}}
          footer.card-footer
            a.btn.btn-flat.btn-primary(href='/volunteer/{{opportunity._id}}') 
              | Learn More
